%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_tag url: sessions_path do |f|
        %header
          %h1 Sign in
        %fieldset
          .col-sm-4
            = f.email_field :email, label: 'Email'
            = f.password_field :password
        %fieldset
          .col-sm-4
            = f.submit 'Sign In', class: 'btn btn-default'