---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=3&card[exp_year]=2018&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_5RdiAvY9E4GkQNCJyKIhhx77
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18WxbCKAxUfvarF67e3oEGO5",
          "object": "token",
          "card": {
            "id": "card_18WxbCKAxUfvarF6BsbI3vZV",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "nXiUL55M7sTbzi9r",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.87.150.239",
          "created": 1468455666,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 14 Jul 2016 00:21:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_18WxbCKAxUfvarF67e3oEGO5&currency=usd&description=an+invalid+charge
    headers:
      Authorization:
      - Bearer sk_test_5RdiAvY9E4GkQNCJyKIhhx77
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_18WxbCKAxUfvarF6ZHV5SBQr"
          }
        }
  recorded_at: Thu, 14 Jul 2016 00:21:07 GMT
recorded_with: VCR 3.0.3
